@model ContratoAdopcion
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .rounded {
        border-radius: .75rem !important
    }
</style>
<p class="justify-content-center">
    El siguiente es el contrato de la adopcion donde usted debe ingresar sus datos
    para proceder con la evaluacion del contrato y si es apto para adoptar
    nos pondremos en contacto con usted, por ello es importante que los datos brindados
    sean los correctos.
</p>
<div id="body-content-action">
    @await Html.PartialAsync("PartialView/_ContratoAdopcion", Model)
</div>