@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container my-5">
    <p class="text-justify lead">
        Los Miembros de SPAT tenemos un compromiso con el bienestar de los animales que tenemos a nuestro cargo y brindar ayuda a todos los que podemos sean silvestres o mascotas, haciendo cumplir sus derechos.
        Al ser una organización de voluntariado contamos con pocas personas que son miembros activos ya que no es tarea fácil y muchas veces es triste el estado de los animales por la cantidad de personas
        inconscientes e ignorantes con el trato animal. Todas las persona mayores de 15 años pueden ser miembros de SPAT y colaborar en sus posibilidades. Con la pena no conseguimos nada!! Es necesario actuar
        ante el abandono y crueldad con la que tratan a los animales... SI TU PENA SOLO HIZO RECOGER UN ANIMAL O VERLO EN DESGRACIA... QUE TU PENA TAMBIÉN SIRVA PARA AYUDARLO! .... Y NO DESHACERTE DEL ANIMAL!
        No esperemos que terceros hagan lo que nuestra conciencia nos grita como deber!!
    </p>
    <div class="mt-5">
        <p class="lead">Nuestras Redes Sociales:</p>
        <div class="d-sm-flex">
            <p class="shadow mr-sm-5 bg-white rounded">
                <a id="facebook" class="btn btn-lg" style="color: dodgerblue;" href="https://www.facebook.com/sociedadprotectoradeanimalestarija/">
                    <i class="fab fa-3x fa-facebook"></i>
                    P&aacute;gina de Facebook
                </a>
            </p>
            <p class="shadow bg-white rounded">
                <a id="instagram" class="btn btn-lg" href="https://www.instagram.com/sociedadprotectoradeanimalestj/">
                    <i class="fab fa-3x fa-instagram"></i>
                    P&aacute;gina de Instagram
                </a>
            </p>
        </div>
    </div>
    <div class="mt-5">
        <p class="lead">
            Si quieres conocer sobre la Ley de Protecci&oacute;n, Control y Cuidado
            de Animales Domesticos de Compa&ntilde;&iacute;a, aqu&iacute; tienes el codumento:
        </p>
        <div class="d-sm-flex">
            <p class="shadow mr-sm-5 bg-white rounded">
                <button type="button" class="btn btn-lg" href="@Url.Action("LeyMunicipal","Adopciones", new { area=""})">
                    <i class="fas fa-3x fa-file-download"></i>
                    Ley Municipal N° 217
                </button>
            </p>
        </div>
        </div>
    </div>