@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="mt-5">Lorem Ipsum</h1>
<p>Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
<h1 class="mt-5">Lorem Ipsum</h1>
<p>Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
<h1 class="mt-5">Lorem Ipsum</h1>
<p>Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
<h1 class="mt-5">Lorem Ipsum</h1>
<p>Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
<h1 class="mt-5">Lorem Ipsum</h1>
<p>Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>