@model string[]
@await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
<form class="text-center" asp-action="PostRoles" method="post" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
    <div class="custom-control custom-checkbox mb-3">
        <input name="RolesUsuario[]" value="Administrador" class="custom-control-input" type="checkbox" id="idAdmin">
        <label class="custom-control-label" for="idAdmin">
            Administrador
        </label>
    </div>
    <div class="custom-control custom-checkbox mb-3">
        <input name="RolesUsuario[]" value="Voluntario" class="custom-control-input" type="checkbox" id="idVoluntario">
        <label class="custom-control-label" for="idVoluntario">
            Voluntario
        </label>
    </div>
    <div class="custom-control custom-checkbox mb-3">
        <input name="RolesUsuario[]" value="Moderador" class="custom-control-input" type="checkbox" id="idModerador">
        <label class="custom-control-label" for="idModerador">
            Moderador
        </label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" disabled>Guardar</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
    @foreach (var item in Model)
    {
        if (item.Equals("Administrador"))
        { <text>$("#idAdmin").prop('checked', true);</text> }
        else if (item.Equals("Voluntario"))
        { <text>$("#idVoluntario").prop('checked', true);</text> }
        else if (item.Equals("Moderador"))
        { <text>$("#idModerador").prop('checked', true);</text> }
    }
    var _0x5571 = ['2JCazDd', 'prop', 'form\x20[class=\x22custom-control-input\x22]', '583873okKowJ', '928591vfLtTv', '3662064anOFON', '1259138YhKkYo', '1464447VOSmNz', '199lVrBYO', '1dZcVCt', '579248AFrBfn', '8198zNIwKx', 'change\x20input', 'disabled']; function _0x4584(_0x4cc0c4, _0x3a2f75) { return _0x4584 = function (_0x55719b, _0x45846b) { _0x55719b = _0x55719b - 0x11d; var _0xd0e42e = _0x5571[_0x55719b]; return _0xd0e42e; }, _0x4584(_0x4cc0c4, _0x3a2f75); } var _0xb10d57 = _0x4584; (function (_0x52deb8, _0x3a3e57) { var _0x3f88ce = _0x4584; while (!![]) { try { var _0x54b4b9 = -parseInt(_0x3f88ce(0x11e)) * -parseInt(_0x3f88ce(0x127)) + -parseInt(_0x3f88ce(0x126)) * -parseInt(_0x3f88ce(0x123)) + -parseInt(_0x3f88ce(0x12a)) + -parseInt(_0x3f88ce(0x129)) + parseInt(_0x3f88ce(0x120)) * -parseInt(_0x3f88ce(0x11d)) + -parseInt(_0x3f88ce(0x11f)) + parseInt(_0x3f88ce(0x128)); if (_0x54b4b9 === _0x3a3e57) break; else _0x52deb8['push'](_0x52deb8['shift']()); } catch (_0x34c782) { _0x52deb8['push'](_0x52deb8['shift']()); } } }(_0x5571, 0xc9366), $(_0xb10d57(0x125))['on'](_0xb10d57(0x121), function () { var _0x5d1098 = _0xb10d57; $('form\x20button[type=\x22submit\x22]')[_0x5d1098(0x124)](_0x5d1098(0x122), ![]); }));
</script>
