@model List<User>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid my-5">
    <h3>
        Lista de Usuarios registrados.
    </h3>
    <p class="mb-4">
        En esta vista se visualiza la informaci&oacute;n de los usuarios registrados en 
        el sistema as&iacute; como tambi&eacute;n poder asignar roles, cambiar de estado 
        para usuarios inactivos o eliminar completamente un usuario.
    </p>
    <div id="view-all">
        @await Html.PartialAsync("PartialView/_Lista.cshtml", Model)
    </div>
</div>
