@model ReporteSeguimiento
@await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
<form asp-action="SaveFecha" onsubmit="return jQueryAjaxPost(this);" autocomplete="off" method="post">
    <div class="form-row">
        <input type="hidden" asp-for="@Model.Id" />
        <div class="form-group mb-5 col-md-6">
            <label for="idFecha">Ingrese la Fec>ha Inicial del Seguimiento:</label>
            <input id="idFecha" asp-for="@Model.FechaReporte" value="@Model.FechaReporte.Date.ToShortDateString()" type="text" placeholder="Ingrese la Nueva Fecha del Reporte" class="form-control" data-toggle="datepicker" readonly>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>

<script type="text/javascript">
    $.validator.unobtrusive.parse(document);
    var _0x135a = ['From', 'Sab', '812057iALROT', 'Febrero', 'Cancel', 'Agosto', 'Mie', 'Lun', 'daterangepicker', 'Vie', 'Junio', 'Abril', '227633Jddcah', 'Jue', 'Diciembre', 'DD/MM/YYYY', '137696lbYhPn', '5xjZOSH', '4aEoTBl', 'Septiembre', 'Enero', 'Custom', '334728rZAObf', 'Dom', 'input[id=\x22idFecha\x22]', '315lEdSqy', '46103jjmBAK', '83aZftVm', 'Marzo', '19687GyAJeq', 'Julio', 'Octubre', '1946vUVrvG']; function _0x27d9(_0x514fd, _0x121d37) { return _0x27d9 = function (_0x135a9b, _0x27d9b4) { _0x135a9b = _0x135a9b - 0xda; var _0x4532a1 = _0x135a[_0x135a9b]; return _0x4532a1; }, _0x27d9(_0x514fd, _0x121d37); } (function (_0x5db1b5, _0x1193cc) { var _0x357d0b = _0x27d9; while (!![]) { try { var _0x68dc69 = -parseInt(_0x357d0b(0xed)) + parseInt(_0x357d0b(0xe0)) + parseInt(_0x357d0b(0xea)) * parseInt(_0x357d0b(0xe3)) + parseInt(_0x357d0b(0xf7)) * -parseInt(_0x357d0b(0xdc)) + parseInt(_0x357d0b(0xe4)) * -parseInt(_0x357d0b(0xdb)) + parseInt(_0x357d0b(0xda)) + parseInt(_0x357d0b(0xe7)) * parseInt(_0x357d0b(0xe5)); if (_0x68dc69 === _0x1193cc) break; else _0x5db1b5['push'](_0x5db1b5['shift']()); } catch (_0x3b7f6c) { _0x5db1b5['push'](_0x5db1b5['shift']()); } } }(_0x135a, 0xbb17b), $(function () { var _0x184dc5 = _0x27d9; $(_0x184dc5(0xe2))[_0x184dc5(0xf3)]({ 'autoApply': !![], 'singleDatePicker': !![], 'showDropdowns': !![], 'minYear': 0x7e5, 'locale': { 'format': _0x184dc5(0xfa), 'separator': '\x20', 'applyLabel': 'Apply', 'cancelLabel': _0x184dc5(0xef), 'fromLabel': _0x184dc5(0xeb), 'toLabel': 'To', 'customRangeLabel': _0x184dc5(0xdf), 'weekLabel': 'W', 'daysOfWeek': [_0x184dc5(0xe1), _0x184dc5(0xf2), 'Mar', _0x184dc5(0xf1), _0x184dc5(0xf8), _0x184dc5(0xf4), _0x184dc5(0xec)], 'monthNames': [_0x184dc5(0xde), _0x184dc5(0xee), _0x184dc5(0xe6), _0x184dc5(0xf6), 'Mayo', _0x184dc5(0xf5), _0x184dc5(0xe8), _0x184dc5(0xf0), _0x184dc5(0xdd), _0x184dc5(0xe9), 'Noviembre', _0x184dc5(0xf9)], 'firstDay': 0x1 } }); }));
</script>
