@model string
<div class="text-center my-5">
    <img src="@Model" class="img-fluid" alt="Imagen del Reporte" />
</div>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>