@model ContratoAdopcion
@await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
<div class="card rounded">
    <div class="card-body">
        <div class="row">
            @if (Model.Estado.Equals("Pendiente"))
            {
                <form class="mx-auto" asp-action="AprobarAdopcion" asp-route-id="@Model.Id" method="post" onsubmit="return showForm(this);">
                    <button type="submit" class="btn btn-primary btn-lg">Aprobar</button>
                </form>
                <button type="button" asp-action="AddContratoRechazo" onclick="showInPopup('@Url.Action("AddContratoRechazo","Adopcion",new { id=Model.Id, area="AdministracionAdopciones"},Context.Request.Scheme)', 'Razon del Rechazo de Solicitud de Adopcion');" class="btn btn-danger btn-lg mx-auto" data-toggle="modal" data-target="#form-modal">Rechazar Contrato</button>
                <button type="button" class="btn btn-warning btn-lg mx-auto" disabled>Cancelar</button>
            }
            else if (Model.Estado.Equals("Aprobado"))
            {
                <button type="button" class="btn btn-primary btn-lg mx-auto" disabled>Aprobar</button>
                <button type="button" class="btn btn-danger btn-lg mx-auto" disabled>Rechazar</button>
                <button type="button" asp-action="AddContratoRechazo" onclick="showInPopup('@Url.Action("AddContratoCancelado","Adopcion",new { id=Model.Id, area="AdministracionAdopciones"},Context.Request.Scheme)', 'Razon de la Cancelacion de la Adopcion');" class="btn btn-warning btn-lg mx-auto" data-toggle="modal" data-target="#form-modal">Cancelar Contrato</button>
            }
            else if (Model.Estado.Equals("Rechazado") || Model.Estado.Equals("Cancelado"))
            {
                <button type="button" class="btn btn-primary btn-lg mx-auto" disabled>Aprobar</button>
                <button type="button" class="btn btn-danger btn-lg mx-auto" disabled>Rechazar</button>
                <button type="button" class="btn btn-warning btn-lg mx-auto" disabled>Cancelar</button>
            }
        </div>
        <div class="alert alert-warning alert-dismissible fade show mt-5" role="alert">
            <strong>Atenci&oacute;n!</strong> Solo puede aprobar o rechazar una vez el contrato, en caso de ser aprobado,
            puede cancelar el contrato si el adoptante no cumple con lo establecido en el contrato de la adopcion.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>