@model ForgotPassword
@await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card border-0 rounded shadow-lg">
            <p class="card-header text-center">Recuperar Contrase&ntilde;a</p>
            <div class="card-body p-5">
                <form asp-action="SendDataForgotPassword" onsubmit="return ForgotPassword(this);" method="post">
                    <div class="form-group">
                        <label for="inputEmail">Correo Electr&oacute;nico</label>
                        @if (Model != null)
                        {
                            <input asp-for="Email" value="@Model.Email" type="text" class="form-control form-control-user" id="inputEmail" name="Email" placeholder="Ingresa tu Correo Electrónico" autofocus>
                        }
                        else
                        {
                            <input asp-for="Email" type="text" class="form-control form-control-user" id="inputEmail" name="Email" placeholder="Ingresa tu Correo Electrónico" autofocus>
                        }
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>
                    <button class="btn btn-primary btn-user btn-block" type="submit">
                        Enviar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    ForgotPassword = form => {
        event.preventDefault();
        if ($("form").valid()) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: new FormData(form),
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.html != null) {
                        $('#body-content-action').html(res.html);
                    }
                    else if (res.url != null) {
                        window.location.href = res.url;
                    }
                }
            })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    window.location.href = "/Error/" + jqXHR.status;
                })
            return false;
        }
    };
</script>