@model ForgotPassword
@await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
<div class="row">
    <div class="col-lg-6 mx-auto">
        <div class="card border-0 rounded shadow-lg">
            <p class="card-header text-center">Recuperar Contrase&ntilde;a</p>
            <div class="card-body p-5">
                <form asp-action="SendDataForgotPassword" onsubmit="return ForgotPassword(this);" method="post">
                    <div class="form-group">
                        <label for="inputEmail">Correo Electr&oacute;nico</label>
                        @if (Model != null)
                        {
                            <input asp-for="Email" value="@Model.Email" type="text" class="form-control form-control-user" id="inputEmail" name="Email" placeholder="Ingresa tu Correo Electrónico" autofocus>
                        }
                        else
                        {
                            <input asp-for="Email" type="text" class="form-control form-control-user" id="inputEmail" name="Email" placeholder="Ingresa tu Correo Electrónico" autofocus>
                        }
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>
                    <button class="btn btn-primary btn-user btn-block" type="submit">
                        Enviar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var _0xd54a = ['status', 'preventDefault', '275941npmicw', '1041435lLCXQJ', 'ajax', 'action', '111848NRVjJp', '#body-content-action', '5IJVRbe', 'url', 'valid', '1XQlfLp', 'html', 'location', 'form', '/Error/', '1539839VjFRTq', '1279dcTtjt', 'href', '3fyKkab', '1220RaXigK', '3413zTsBix', '922bSJJUF', '872pmlace', '404ggMZqv']; function _0x36ec(_0x54b992, _0x4b056b) { return _0x36ec = function (_0xd54ac3, _0x36ec26) { _0xd54ac3 = _0xd54ac3 - 0x64; var _0x462733 = _0xd54a[_0xd54ac3]; return _0x462733; }, _0x36ec(_0x54b992, _0x4b056b); } (function (_0x15629b, _0x3118cd) { var _0x359756 = _0x36ec; while (!![]) { try { var _0x23be2d = -parseInt(_0x359756(0x70)) * -parseInt(_0x359756(0x78)) + -parseInt(_0x359756(0x6f)) * parseInt(_0x359756(0x67)) + -parseInt(_0x359756(0x75)) * -parseInt(_0x359756(0x73)) + parseInt(_0x359756(0x64)) + -parseInt(_0x359756(0x65)) * parseInt(_0x359756(0x6a)) + -parseInt(_0x359756(0x68)) * -parseInt(_0x359756(0x6b)) + parseInt(_0x359756(0x6c)) * -parseInt(_0x359756(0x69)); if (_0x23be2d === _0x3118cd) break; else _0x15629b['push'](_0x15629b['shift']()); } catch (_0xa07dc1) { _0x15629b['push'](_0x15629b['shift']()); } } }(_0xd54a, 0xc7d09), ForgotPassword = _0x36e520 => { var _0x48b5da = _0x36ec; event[_0x48b5da(0x6e)](); if ($(_0x48b5da(0x7b))[_0x48b5da(0x77)]()) return $[_0x48b5da(0x71)]({ 'type': 'POST', 'url': _0x36e520[_0x48b5da(0x72)], 'data': new FormData(_0x36e520), 'contentType': ![], 'processData': ![], 'success': function (_0x18a076) { var _0x25f7e3 = _0x48b5da; if (_0x18a076['html'] != null) $(_0x25f7e3(0x74))[_0x25f7e3(0x79)](_0x18a076[_0x25f7e3(0x79)]); else _0x18a076[_0x25f7e3(0x76)] != null && (window[_0x25f7e3(0x7a)]['href'] = _0x18a076[_0x25f7e3(0x76)]); } })['fail'](function (_0x1f7b59, _0x3e2f22, _0x5e120c) { var _0x3eb07d = _0x48b5da; window[_0x3eb07d(0x7a)][_0x3eb07d(0x66)] = _0x3eb07d(0x7c) + _0x1f7b59[_0x3eb07d(0x6d)]; }), ![]; });
</script>