@model List<DataGraficaDto>
@{
    var XLabels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.Nombre).ToList());
    var YValues = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.Cantidad.ToString()).ToList());
}
<form class="py-3" method="post" asp-action="ReturnVistaReporteSeguimientos">
    <select id="selectReporteSeguimiento" class="form-control" name="filtrado">
        @if (ViewData["filter"].Equals("3 meses"))
        {
            <option value="3 meses" selected>&Uacute;ltimos 3 meses</option>
            <option value="6 meses">&Uacute;ltimos 6 meses</option>
            <option value="9 meses">&Uacute;ltimos 9 meses</option>
            <option value="12 meses">&Uacute;ltimos 12 meses</option>
        }
        else @if (ViewData["filter"].Equals("6 meses"))
   {
    <option value="3 meses">&Uacute;ltimos 3 meses</option>
    <option value="6 meses" selected>&Uacute;ltimos 6 meses</option>
    <option value="9 meses">&Uacute;ltimos 9 meses</option>
    <option value="12 meses">&Uacute;ltimos 12 meses</option>
}
else @if (ViewData["filter"].Equals("9 meses"))
   {
    <option value="3 meses">&Uacute;ltimos 3 meses</option>
    <option value="6 meses">&Uacute;ltimos 6 meses</option>
    <option value="9 meses" selected>&Uacute;ltimos 9 meses</option>
    <option value="12 meses">&Uacute;ltimos 12 meses</option>
}
else @if (ViewData["filter"].Equals("12 meses"))
   {
    <option value="3 meses">&Uacute;ltimos 3 meses</option>
    <option value="6 meses">&Uacute;ltimos 3 meses</option>
    <option value="9 meses">&Uacute;ltimos 6 meses</option>
    <option value="12 meses" selected>&Uacute;ltimos 12 meses</option>
}
</select>
</form>
<div class="row my-3">
    <div class="col-12">
        <div class="shadow-lg border p-sm-1 p-md-3 bg-white rounded">
            <canvas id="chartLineReporteSeguimientos" style="width:100%;"></canvas>
        </div>
    </div>
    <div class="col-lg-6 mt-5 mx-auto">
        <div class="card rounded shadow">
            <div class="card-body">
                <canvas id="chartDoughnutReporteSeguimientos" style="width:100%;"></canvas>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    var _0xcc82 = ['change', 'href', 'action', '1597kaYruY', '18183vOxejq', '452anRAKn', '85231tVwEwA', 'ajax', '535479yPsIcv', 'status', '126FWySWw', '33eFHdUF', '826800fhDNoa', 'fail', 'location', '#selectReporteSeguimiento', '3809IoKYdR', 'html', '101540vBbHnR', 'POST', 'form']; var _0x5b63bb = _0x2de4; function _0x2de4(_0x3cced9, _0x4dbcfb) { return _0x2de4 = function (_0xcc82f1, _0x2de46a) { _0xcc82f1 = _0xcc82f1 - 0x8a; var _0x45d0f3 = _0xcc82[_0xcc82f1]; return _0x45d0f3; }, _0x2de4(_0x3cced9, _0x4dbcfb); } (function (_0x969f5e, _0x3416c0) { var _0x72c19a = _0x2de4; while (!![]) { try { var _0x19e97c = -parseInt(_0x72c19a(0x8e)) * -parseInt(_0x72c19a(0x9c)) + parseInt(_0x72c19a(0x95)) + -parseInt(_0x72c19a(0x9e)) + -parseInt(_0x72c19a(0x8f)) + -parseInt(_0x72c19a(0x93)) * -parseInt(_0x72c19a(0x8d)) + parseInt(_0x72c19a(0x9d)) * parseInt(_0x72c19a(0x9b)) + -parseInt(_0x72c19a(0x8b)); if (_0x19e97c === _0x3416c0) break; else _0x969f5e['push'](_0x969f5e['shift']()); } catch (_0x193517) { _0x969f5e['push'](_0x969f5e['shift']()); } } }(_0xcc82, 0x6f4a7), $(_0x5b63bb(0x92))['on'](_0x5b63bb(0x98), function () { var _0x224ace = _0x5b63bb; $[_0x224ace(0x8a)]({ 'type': _0x224ace(0x96), 'url': this[_0x224ace(0x97)][_0x224ace(0x9a)], 'data': new FormData(this[_0x224ace(0x97)]), 'contentType': ![], 'processData': ![], 'success': function (_0x3218a7) { var _0xbdd23c = _0x224ace; $('#viewReporteSeguimientos')[_0xbdd23c(0x94)](_0x3218a7); } })[_0x224ace(0x90)](function (_0xee6cbb, _0xbe7882, _0x5dedac) { var _0x29f217 = _0x224ace; window[_0x29f217(0x91)][_0x29f217(0x99)] = '/Error/' + _0xee6cbb[_0x29f217(0x8c)]; }); }));
    $(function () {
        var chartName = "chartLineReporteSeguimientos";
        var ctx = document.getElementById(chartName).getContext('2d');
        var speedData = {
            labels: @Html.Raw(XLabels),
            datasets: [{
                label: "Registros por Mes",
                data: @Html.Raw(YValues),
                borderWidth: 5,
                fill: false,
                borderColor: 'rgb(75, 192, 192)'
            }]
        };
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: speedData,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Reportes de Seguimientos enviados por mes.'
                    }
                }
            }
        });
    });

        $(function () {
            var chartName = "chartDoughnutReporteSeguimientos";
        var ctx = document.getElementById(chartName).getContext('2d');
        var speedData = {
            labels: @Html.Raw(XLabels),
            datasets: [{
                data: @Html.Raw(YValues),
                borderWidth: 2,
                fill: false,
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 101)',
                    'rgb(255, 205, 86)',
                    'rgb(10, 114, 40)',
                    'rgb(216, 197, 56)',
                    'rgb(243, 190, 25)',
                    'rgb(156, 16, 178)',
                    'rgb(200, 49, 34)',
                    'rgb(178, 70, 190)',
                    'rgb(109, 145, 123)',
                    'rgb(89, 252, 216)',
                    'rgb(45, 207, 255)'
                ],
                hoverOffset: 4
            }]
        };
        var lineChart = new Chart(ctx, {
            type: 'doughnut',
            data: speedData,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Reportes de Seguimientos enviados por mes.'
                    }
                }
            }
        });
    });
</script>
