@model List<DataGraficaDto>
@{
    ViewData["Title"] = "Adopciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid my-5">
    <h3>Gr&aacute;ficas de Adopciones</h3>
    <div class="mb-4" id="viewAdopciones">
        @await Html.PartialAsync("PartialView/_Adopciones", Model)
    </div>
</div>