@model Mascota
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid py-3">
    <h3>
        Agregar/Modificar datos Mascota.
    </h3>
    <p class="mb-3">
        En esta vista se puede agregar la mascota que corresponde a la denuncia elegida,
        as&iacute; como tambi&eacute;n modificar los datos una vez es registrada.
    </p>
    @if (Model == null)
    {
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="shadow-lg border p-5 bg-white rounded text-center">
                    No se puede mostrar la informaci&oacute;n, id de denuncia incorrecto.
                </div>
            </div>
        </div>
    }
    else
    {
        <nav>
            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                <button class="nav-item nav-link active" id="nav-mascota" data-toggle="tab" href="#mascota" type="button" aria-controls="mascota" aria-selected="true">Actualizar Datos</button>
                <button class="nav-item nav-link" id="nav-fotos" data-toggle="tab" href="#fotos" type="button" aria-controls="fotos" aria-selected="false">Fotos</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="mascota" role="tabpanel" aria-labelledby="nav-mascota">
                <div id="body-content-view">
                    @await Html.PartialAsync("PartialView/_EditMascota.cshtml", Model)
                </div>
            </div>
            <div class="tab-pane fade" id="fotos" role="tabpanel" aria-labelledby="nav-fotos">
                <div id="body-content-action">
                    @await Html.PartialAsync("PartialView/_Fotos.cshtml", Model)
                </div>
            </div>
        </div>
    }
</div>