@model IEnumerable<Mascota>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="mb-4">
    En esta vista se puede administrar la situaci&oacute;n actual de cada una de las
    Mascotas registradas en la asociaci&oacute;n, como estar apta para ser dada en adopci&oacute;n,
    o que necesite un tratamiento a seguir, o que se necesite un hogar temporal para la misma.
</p>
<div id="view-all">
    @await Html.PartialAsync("PartialView/_ListaMascotas", Model)
</div>