@model List<Mascota>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid my-5">
    <h3>
        Lista de Mascotas
    </h3>
    <p class="mb-2">
        En esta vista se puede administrar la situaci&oacute;n actual de cada una de las
        mascotas registradas en la asociaci&oacute;n, el estado Activo indica que esta mascota
        ya puede ser adoptada, el estado Inactivo indica que la mascota a&uacute;n sigue en un
        tratamiento o no es apta para ser adoptada.
    </p>
    <div class="d-md-flex">
        <p class="shadow mr-md-5 p-3 bg-white rounded">
            <button class="btn btn-primary"><i class="fas fa-dog fa-2"></i></button> -> Editar Datos Mascota
        </p>
        <p class="shadow p-3 bg-white rounded">
            <button class="btn btn-primary"><i class="fas fa-list"></i></button> -> Reporte Tratamiento Mascota
        </p>
    </div>
        <div id="view-all">
            @await Html.PartialAsync("PartialView/_Lista", Model)
        </div>
    </div>
