@model User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid py-3">
    <h3>
        Vista editar perfil
    </h3>
    <p class="mb-3">
        En esta vista puedes editar la informaci&oacute;n 
        de tu perfil.
    </p>
    <div id="body-content-action">
        @await Html.PartialAsync("PartialView/_EditarPerfil", Model)
    </div>
</div>