@model ResetPassword
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-group i {
        cursor: pointer;
    }
</style>
<div class="container-fluid my-5">
    <h3>
        Vista Resetear Password
    </h3>
    <p class="mb-4">
        En esta vista puedes modificar tu contrase&ntilde;a 
        actual, debes cumplir con los par&aacute;metros 
        establecidos para la seguridad de tu nueva contrase&ntilde;a.
    </p>
    <div id="body-content-action">
        @await Html.PartialAsync("PartialView/_ResetPassword", Model)
    </div>
</div>