@model List<DATA.DTOs.Graficas.DataGraficaDto>
@{
    ViewData["Title"] = "ReporteSeguimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h5>Gr&aacute;ficas de Reportes Enviados</h5>

<div id="contenido">
    @await Html.PartialAsync("PartialView/_ReporteSeguimientos", Model)
</div>