@model List<DataGraficaDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@media (min-width: 576px) {
        .doughnut {
            height: 50vh;
        }
    }

    @@media (min-width: 768px) {
        .doughnut {
            height: 80vh;
        }
    }
</style>
<div class="container-fluid py-3">
    <h3>Gr&aacute;ficas de solicitudes de adopci&oacute;n recibidas</h3>
    <div id="viewAdopciones">
        @await Html.PartialAsync("PartialView/_Adopciones", Model)
    </div>
</div>