@model List<DataGraficaDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    @@media (min-width: 576px) {
        .doughnut {
            height: 50vh;
        }
           }
    @@media (min-width: 768px) {
        .doughnut {
            height: 80vh;
        }
    }
</style>
<div class="container-fluid my-5">
    <h3>Gr&aacute;ficas de Reportes Enviados</h3>
    <div class="my-5" id="viewReporteSeguimientos">
        @await Html.PartialAsync("PartialView/_ReporteSeguimientos", Model)
    </div>
</div>
