@model UserForLogin
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Asociacion Protectora de Animales Tarija</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/archivos/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/archivos/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/archivos/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<body>
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        .container, .row {
            height: 100%;
        }
    </style>
    <div id="body-content-action" class="container">
        @await Html.PartialAsync("PartialViews/_Login")
    </div>
</body>
</html>

