@model UserForLogin
<style>
    #body-content-action {
        margin-top:100px;
    }
</style>
<div id="body-content-action" class="container">
    @await Html.PartialAsync("PartialViews/_Login")
</div>