@model List<Seguimiento>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid py-3">
    <h3>
        Lista de Seguimientos Asignados
    </h3>
    <p class="mb-3">
        En esta vista se muestran los seguimientos asignados para acceder a su detalle.
    </p>
    <div class="d-md-flex mb-3">
        <p class="shadow p-3 bg-white rounded">
            <button class="btn btn-success"><i class="fas fa-list" aria-hidden="true"></i></button> -> Acciones/Detalle de la Adopci&oacute;n.
        </p>
    </div>
    <div id="view-all">
        @await Html.PartialAsync("PartialView/_Lista", Model)
    </div>
</div>