@model DataForDashboardDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .rounded {
        border-radius: .55rem !important
    }

    .card-body i {
        font-size: 5em;
        opacity: 0.4;
    }

    .card-body .count-numbers {
        position: absolute;
        right: 35px;
        top: 20px;
        font-size: 32px;
        display: block;
    }

    .card-body .count-name {
        position: absolute;
        right: 35px;
        top: 65px;
        text-transform: capitalize;
        opacity: 0.8;
        display: block;
        font-size: 18px;
    }
</style>
<div id="body-content-view" class="py-3">
    @await Html.PartialAsync("PartialView/_Dashboard", Model)
</div>