@model Denuncia

@await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
<form asp-action="AddOrEditDenuncia" method="post" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
    <input type="hidden" asp-for="Id"/>
    <div class="row">
        <div class="form-group col-12">
            <label for="titulo">Ingrese la T&iacute;tulo de la Denuncia</label>
            <input asp-for="Titulo" class="form-control" id="titulo" placeholder="Ingrese el Titulo" />
            @Html.ValidationMessageFor(x => x.Titulo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-12">
            <label for="descripcion">Ingrese la Descripci&oacute;n de la Denuncia</label>
            <input asp-for="Descripcion" class="form-control" id="descripcion" placeholder="Ingrese la Descripcion" />
            @Html.ValidationMessageFor(x => x.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" disabled>Guardar</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
    $('form [class="form-control"]').on('change input', function () {
        $('form button[type="submit"]').prop('disabled', false);
    });
</script>