@model Denuncia
@await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
<form asp-action="AddOrEditDenuncia" method="post" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
    <input type="hidden" asp-for="Id"/>
    <div class="row">
        <div class="form-group col-12">
            <label for="titulo">Ingrese la T&iacute;tulo de la Denuncia:</label>
            <input asp-for="Titulo" class="form-control" id="titulo" placeholder="Ingrese el Titulo" />
            @Html.ValidationMessageFor(x => x.Titulo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-12">
            <label for="descripcion">Ingrese la Descripci&oacute;n de la Denuncia:</label>
            <input asp-for="Descripcion" class="form-control" id="descripcion" placeholder="Ingrese la Descripcion" />
            @Html.ValidationMessageFor(x => x.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" disabled>Guardar</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
    var _0x36d5 = ['2559LgbAJF', '1xcvlgK', 'form\x20[class=\x22form-control\x22]', 'change\x20input', '32936RlquiC', '476323JCeLRe', '511755ZuPoCC', '14kAbqVy', '1oOTrZh', 'prop', 'disabled', '2vjZifk', '40195lvIYBl', '20712BNMHwC', '6tobXtG', '128221UrMBhq']; function _0x36b7(_0x2b36b0, _0x2cfbe7) { return _0x36b7 = function (_0x36d5f1, _0x36b75b) { _0x36d5f1 = _0x36d5f1 - 0x1b6; var _0x5f0a96 = _0x36d5[_0x36d5f1]; return _0x5f0a96; }, _0x36b7(_0x2b36b0, _0x2cfbe7); } var _0x33b2f9 = _0x36b7; (function (_0x3265b7, _0x20d403) { var _0x21fd56 = _0x36b7; while (!![]) { try { var _0xb5106d = -parseInt(_0x21fd56(0x1c5)) * -parseInt(_0x21fd56(0x1c3)) + parseInt(_0x21fd56(0x1bc)) + -parseInt(_0x21fd56(0x1b8)) * -parseInt(_0x21fd56(0x1bf)) + -parseInt(_0x21fd56(0x1c4)) * -parseInt(_0x21fd56(0x1b6)) + -parseInt(_0x21fd56(0x1b9)) * parseInt(_0x21fd56(0x1b7)) + parseInt(_0x21fd56(0x1be)) + parseInt(_0x21fd56(0x1bd)) * -parseInt(_0x21fd56(0x1c0)); if (_0xb5106d === _0x20d403) break; else _0x3265b7['push'](_0x3265b7['shift']()); } catch (_0x29824c) { _0x3265b7['push'](_0x3265b7['shift']()); } } }(_0x36d5, 0x3f207), $(_0x33b2f9(0x1ba))['on'](_0x33b2f9(0x1bb), function () { var _0xb48648 = _0x33b2f9; $('form\x20button[type=\x22submit\x22]')[_0xb48648(0x1c1)](_0xb48648(0x1c2), ![]); }));
</script>