@model IEnumerable<Denuncia>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="text-justify">
    Esta vista est&aacute; dise&ntilde;ada para administrar las denuncias que se realizan de las mascotas
    que son rescatadas o dadas en adopci&oacute;n.
</p>
<div id="view-all">
    @await Html.PartialAsync("PartialView/_ViewAllDenuncia", Model)
</div>