@model ReporteTratamiento
@await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
<form asp-action="AddOrEditReporteTratamiento" method="post" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
    <input type="hidden" asp-for="MascotaId" value="@Model.MascotaId" />
    <input type="hidden" asp-for="FechaCreacion" />
    <div class="row">
        <div class="form-group col-12">
            <label for="idDescripcion">Ingrese la Descripci&oacute;n del reporte actual:</label>
            <input asp-for="Descripcion" class="form-control" id="idDescripcion" placeholder="Ingrese la Descripcion" />
            @Html.ValidationMessageFor(x => x.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" disabled>Guardar</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
    var _0x2afc = ['405647YogwlX', '426574DcUASG', '9664jfjIId', '374zfhSob', '2yQURkC', '1241XmyjKP', '4831FTwsoN', 'disabled', '5JUaMMv', 'form\x20[class=\x22form-control\x22]', '42QwSNxx', '100376ngGhEv', 'change\x20input', 'prop', '87195AqsOIB', '29xwdKxG', 'form\x20button[type=\x22submit\x22]']; function _0x45c4(_0x433411, _0x1cbfa8) { return _0x45c4 = function (_0x2afcf2, _0x45c400) { _0x2afcf2 = _0x2afcf2 - 0x1bb; var _0x987734 = _0x2afc[_0x2afcf2]; return _0x987734; }, _0x45c4(_0x433411, _0x1cbfa8); } var _0x3cd0f0 = _0x45c4; (function (_0x347896, _0x37c673) { var _0x310880 = _0x45c4; while (!![]) { try { var _0x1b083d = -parseInt(_0x310880(0x1bf)) * parseInt(_0x310880(0x1c7)) + parseInt(_0x310880(0x1c1)) * -parseInt(_0x310880(0x1bd)) + -parseInt(_0x310880(0x1cb)) + parseInt(_0x310880(0x1c8)) + -parseInt(_0x310880(0x1c3)) * -parseInt(_0x310880(0x1bb)) + parseInt(_0x310880(0x1c2)) * -parseInt(_0x310880(0x1c0)) + parseInt(_0x310880(0x1c5)) * parseInt(_0x310880(0x1be)); if (_0x1b083d === _0x37c673) break; else _0x347896['push'](_0x347896['shift']()); } catch (_0x2d2007) { _0x347896['push'](_0x347896['shift']()); } } }(_0x2afc, 0x93aa2), $(_0x3cd0f0(0x1c6))['on'](_0x3cd0f0(0x1c9), function () { var _0x4132d4 = _0x3cd0f0; $(_0x4132d4(0x1bc))[_0x4132d4(0x1ca)](_0x4132d4(0x1c4), ![]); }));
</script>