@model ReporteTratamiento
@await Html.PartialAsync("~/Views/RenderSweetAlert.cshtml")
<form asp-action="AddOrEditReporteTratamiento" method="post" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
    <input type="hidden" asp-for="MascotaId" />
    <input type="hidden" asp-for="FechaCreacion" />
    <div class="row">
        <div class="form-group col-12">
            <label for="idTitulo">Ingrese la T&iacute;tulo del reporte actual</label>
            <input asp-for="Titulo" class="form-control" id="idTitulo" placeholder="Ingrese el Titulo" />
            @Html.ValidationMessageFor(x => x.Titulo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-12">
            <label for="idDescripcion">Ingrese la Descripci&oacute;n del reporte actual</label>
            <input asp-for="Descripcion" class="form-control" id="idDescripcion" placeholder="Ingrese la Descripcion" />
            @Html.ValidationMessageFor(x => x.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>