@model Mascota
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid py-3">
    <h3>
        Vista Detalle de Reportes de Evoluci&oacute;n de Mascota.
    </h3>
    <p class="mb-4">
        En esta vista se puede ver el listado de reportes creados de la evoluci&oacute;n
        de la mascota desde su llegada a la asociaci&oacute;n hasta su adopci&oacute;n.
    </p>
    @if (Model == null)
    {
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="shadow-lg border p-5 bg-white rounded text-center">
                    La mascota no existe, id incorrecto.
                </div>
            </div>
        </div>
    }
    else
    {
        @if (Model.Estado.Equals("Inactivo"))
        {
            @if (Model.ReporteTratamientos.Count() > 0)
            {
                <style>
                    ul.timeline {
                        list-style-type: none;
                        position: relative;
                    }

                        ul.timeline:before {
                            content: ' ';
                            background: #d4d9df;
                            display: inline-block;
                            position: absolute;
                            left: 29px;
                            width: 2px;
                            height: 100%;
                            z-index: 0;
                        }

                        ul.timeline > li {
                            margin: 20px 0;
                            padding-left: 20px;
                        }

                            ul.timeline > li:before {
                                content: ' ';
                                background: white;
                                display: inline-block;
                                position: absolute;
                                border-radius: 50%;
                                border: 3px solid #22c0e8;
                                left: 20px;
                                width: 20px;
                                height: 20px;
                                z-index: 0;
                            }

                    .timeline li:nth-child(n+3) {
                        display: none;
                    }
                </style>
                <div class="shadow-lg border-1 py-5 px-3 bg-white rounded col-md-10 mx-auto">
                    <h3>Evoluci&oacute;n de la mascota desde su rescate.</h3>
                    <ul class="timeline">
                        @foreach (var item in Model.ReporteTratamientos)
                        {
                            <li class="bg-white rounded ml-3 p-3 shadow">
                                <div class="d-flex justify-content-between">
                                    <p class="text-primary">@item.Titulo</p>
                                    <p class="text-primary">@item.FechaCreacion.ToShortDateString()</p>
                                </div>
                                @item.Descripcion
                            </li>

                        }
                    </ul>
                    <button id="loadMore" type="button" class="btn btn-primary">Mostrar m&aacute;s</button>
                </div>
                <script>
                    $(document).ready(function () {
                        $('#loadMore').click(function () {
                            $('.timeline li:hidden').slice(0, 2).slideDown();
                            if ($('.timeline li').length == $('.timeline li:visible').length) {
                                $('#loadMore').hide();
                            }
                        });
                    });
                </script>
            }
            else
            {
                <div class="shadow-lg border p-5 bg-white rounded text-text">
                    <p class="card-text">
                        No existen reportes de tratamiento creados para esta mascota.
                    </p>
                </div>
            }
        }
        else
        {
            <div class="shadow-lg border p-5 bg-white rounded text-center">
                <p class="card-text">
                    El estado de la mascota debe ser "Inactivo" para poder visualizar.
                </p>
            </div>
        }
    }
</div>
