@model List<ReporteTratamiento>
@{
    ViewData["Title"] = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Count() > 0)
{
    <style>
        ul.timeline {
            list-style-type: none;
            position: relative;
            padding-left: 1.5rem;
        }

            /* Timeline vertical line */
            ul.timeline:before {
                content: ' ';
                background: #ddd;
                display: inline-block;
                position: absolute;
                left: 16px;
                width: 4px;
                height: 100%;
                z-index: 400;
                border-radius: 1rem;
            }

        li.timeline-item {
            margin: 20px 0;
        }

        /* Timeline item arrow */
        .timeline-arrow {
            border-top: 0.5rem solid transparent;
            border-right: 0.5rem solid #ddd;
            border-bottom: 0.5rem solid transparent;
            display: block;
            position: absolute;
            left: 2rem;
        }

        /* Timeline item circle marker */
        li.timeline-item::before {
            content: ' ';
            background: #00ff21;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 3px solid #ddd;
            left: 11px;
            width: 14px;
            height: 14px;
            z-index: 400;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
    </style>
    <div class="row">
        <div class="col-lg-7 mx-auto">

            <!-- Timeline -->
            <ul class="timeline">
                @foreach (var item in Model)
                {
                <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                    <div class="timeline-arrow"></div>
                    <div class="d-flex justify-content-between">
                        <p class="text-primary">@item.Titulo</p>
                        <p class="float-right text-primary">@item.FechaCreacion.ToShortDateString()</p>
                    </div>
                    <p class="mt-4">@item.Descripcion</p>
                </li>

                }
            </ul>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                No existen reportes de tratamiento creados para esta mascota.
            </p>
        </div>
    </div>
}