@model AdopcionCancelada
<form asp-action="CancelarAdopcion" method="post" onsubmit="return modalRedirectToView(this);" autocomplete="off">
    <input asp-for="SolicitudAdopcionId" type="hidden" value="@Model.SolicitudAdopcionId" />
    <div class="form-group">
        <label for="inputTitulo">Ingrese la Raz&oacute;n de la Cancelaci&oacute;n de la Adopci&oacute;n</label>
        <input asp-for="Razon" class="form-control" />
        @Html.ValidationMessageFor(x => x.Razon, "", new { @class = "text-danger" })
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>