@model ContratoRechazo
@{
    Layout = null;
}
<form asp-action="CancelarAdopcion" method="post" onsubmit="return jQueryAjaxPostAlterno(this);" autocomplete="off">
    <input asp-for="ContratoAdopcionId" type="hidden" value="@Model.ContratoAdopcionId" />
    <div class="form-group">
        <label for="inputTitulo">Ingrese la Raz&oacute;n de la Cancelaci&oacute;n del Contrato</label>
        <input asp-for="RazonRechazo" class="form-control" />
        @Html.ValidationMessageFor(x => x.RazonRechazo, "", new { @class = "text-danger" })
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>