@model ContratoAdopcion
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .rounded {
        border-radius: .75rem !important
    }
    button[disabled] {
        cursor: not-allowed;
    }
</style>
<div class="container-fluid my-5">
    @if (Model.Estado.Equals("Pendiente"))
    {
        <h3>
            Vista de Acciones y Detalle del Contrato.
        </h3>
        <p class="mb-4">
            Esta vista se centra en la aceptaci&oacute;n o rechazo de una solicitud de adopci&oacute;n,
            en caso de incumplir el contrato, se podr&aacute; cancelar la adopci&oacute;n, adem&aacute;s de
            ver el detalle del Contrato.
        </p>
        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-contrato" data-toggle="tab" href="#tab-contrato" role="tab" aria-controls="tab-crud-mascota">Acciones</a>
                <a class="nav-item nav-link" id="nav-informe" data-toggle="tab" href="#tab-informe" role="tab" aria-controls="tab-view-mascota">Detalle Contrato Adopci&oacute;n</a>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-contrato" role="tabpanel" aria-labelledby="nav-contrato">
                <div id="body-content-action">
                    @await Html.PartialAsync("PartialView/_AdministrarContrato", Model)
                </div>
            </div>
            <div class="tab-pane fade" id="tab-informe" role="tabpanel" aria-labelledby="nav-informe">
                <div id="body-content-view">
                    @await Html.PartialAsync("PartialView/_InformeContrato", Model)
                </div>
            </div>
        </div>
    }
    else
    {
        <h3>
            Vista Detalle del Contrato.
        </h3>
        <p class="mb-4">
            En esta vista se puede ver el Detalle del Contrato generado.
        </p>
        <div id="body-content-view">
            @await Html.PartialAsync("PartialView/_InformeContrato", Model)
        </div>
    }
</div>
