@model SolicitudAdopcion
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid my-5">
    @if (Model.Estado.Equals("Pendiente") || Model.Estado.Equals("Aprobado"))
    {
        <h3>
            Vista de Acciones y Detalle de la Solicitud de Adopci&oacute;n.
        </h3>
        <p class="mb-4">
            La vista est&aacute; centrada en la gesti&oacute;n de las solicitudes de adopci&oacute;n enviadas,
            para decidir si son aprobadas, rechazadas o canceladas.
        </p>
        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
            <button class="nav-item nav-link active" id="nav-solicitud" data-toggle="tab" href="#tab-solicitud" type="button" aria-controls="tab-crud-mascota">Acciones</button>
            <button class="nav-item nav-link" id="nav-informe" data-toggle="tab" href="#tab-informe" type="button" aria-controls="tab-view-mascota">Detalle Solicitud de Adopci&oacute;n</button>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-solicitud" role="tabpanel" aria-labelledby="nav-solicitud">
                <div id="body-content-action">
                    @await Html.PartialAsync("PartialView/_AdministrarSolicitudAdopcion", Model)
                </div>
            </div>
            <div class="tab-pane fade" id="tab-informe" role="tabpanel" aria-labelledby="nav-informe">
                <div id="body-content-view">
                    @await Html.PartialAsync("PartialView/_InformeSolicitudAdopcion", Model)
                </div>
            </div>
        </div>
    }
    else
    {
        <h3>
            Vista de Detalle de la Solicitud de Adopci&oacute;n.
        </h3>
        <p class="mb-4">
            La vista contiene la informaci&oacute;n de la Solicitud de Adopci&oacute;n.
        </p>
        <div id="body-content-view">
            @await Html.PartialAsync("PartialView/_InformeSolicitudAdopcion", Model)
        </div>
    }
</div>
