@model IEnumerable<ContratoAdopcion>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="mb-4">
    Vista para la administraci&oacute;n de los contratos de adopci&oacute;n.
</p>
<div id="view-all">
    @await Html.PartialAsync("PartialView/_Lista", Model)
</div>