@model List<SolicitudAdopcion>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    tr.hiddentablerow td {
        padding: 0;
    }
</style>
<div class="container-fluid py-3">
    <h3>
        Lista de Solicitudes de Adopci&oacute;n
    </h3>
    <p class="mb-3">
        Vista para la administraci&oacute;n de las solicitudes de adopci&oacute;n
        seg&uacute;n su estado.
    </p>
    <div class="d-md-flex mb-3">
        <p class="shadow mr-md-5 p-3 bg-white rounded">
            <button class="btn btn-primary"><i class="far fa-eye" aria-hidden="true"></i></button> -> Acciones/Detalle de la Adopci&oacute;n.
        </p>
        <p class="shadow mr-md-5 p-3 bg-white rounded">
            <button class="btn btn-success"><i class="fa fa-info-circle" aria-hidden="true"></i></button> -> Antecedentes de adoptante.
        </p>
        <p class="shadow mr-md-5 p-3 bg-white rounded">
            <button class="btn btn-primary"><i class="fa fa-upload" aria-hidden="true"></i></button> -> Subir contrato de adopci&oacute;n.
        </p>
    </div>
    <div id="view-all">
        @await Html.PartialAsync("PartialView/_Lista", Model)
    </div>
</div>